<!DOCTYPE html>
<html>
  <head>
    <title>ApartmentSeeker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Syne+Mono&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
